div {
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
body {
	width: 100%;
	background-color: black;
	height: 1200px;
	
}
.curtain {
	display: inline-block;
	width: 60%;
}
#main {
	display: inline-block;
	width: 90%;
	margin-left: 25%;
}
#board {
	display: inline-block;
	width: 300px;
	margin-left: 15%;
	float: left;
}

.cards, .assigned {
	float: left;
	border: 1px solid black;
	width: 125px;
	height: 150px;
	margin-left: 1em;
	margin-bottom: 1em;
	border-radius: 15%;
	background-image: url(imgs/cardLowRes.png);
	background-size: 100%;
	text-align: center;

}



#side {
	/*border: 1px solid black;*/
	height: 300px;
	width: 70px;
	margin-left: 5%;
	float: left;
	border-radius: 15%;
	text-align: center;
	display: inline-block;
}
#begin, #newButton {
	margin-left: 40%;
	margin-top: 2%;
	border-radius: 15%;
	font-size: 2em;
	background-color: gold; 

}
.colors {
	/*border: 1px solid black;*/
	border-radius: 15%;
	width: 40px;
	height: 25px;
	float: left;
	margin-left: 3%;
	margin-bottom: 6%;
}
#header {
	text-align: center;
	width: 90%;
	font-size: 4em;
	margin-top: 1em; 
	margin-bottom: 1em; 
	font-family: verdana;
	letter-spacing: 1px;
	color: gold;
}

/**********  SIDEBAR ****************/
.sidebar {
	display: inline-block;
	float: right;
	width: 15%;
	border: solid 1px gold;
	margin: 10% 10% 0 0;
	border-radius: 15%;
	font-family: coldcoffee;
	color: white;
}
.sidebar p {
	margin: 1em;
	font-size: .5em;
	text-align: center;
}
.sidebar h1 {
	text-align: center;
	margin: 1em;
	font-size: 1em;
} 
.sidebar h2 {
	text-align: center;
	font-size: .5em;
} 
.sidebar a {
	color: gold;
}

/*******  NAV *********/
#navDiv {
	width: 100%;
	position: fixed;
	z-index:9999;
	background-color: black;
	opacity: .8;
	margin-top: -1em;
	display: inline-block;
	float: left;
}
#navDiv a {
	text-decoration: none;
	color: gold;
	font-family: coldcoffee;
	font-size: .5em;

}
#navUl {
	width: 100%;
	list-style: none;
}
#navUl li {
	float: right; 
	margin-left: 1em;
}
#lastNav {
	margin-right: 4em;
}
a {
	text-decoration: none;
}